<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preload" href="/static/css/normalize.css" as="style">
    <title>photo fox</title>
</head>
<body>
    <p>hello, photo fox 🦊📸</p>
</body>
</html>